<!doctype html>
<html lang="en">
  <head>
   <!-- riferimento th block collegamento ai meta etc -->
    <th:block th:replace="fragments :: scr-head"></th:block>
    <title>Sito Università</title>
  </head>
  <body>
  <!-- riferimento al thblock collegamento alla nav bar in fragments -->
  <th:block th:replace="fragments :: navbar"></th:block>
  <!-- th if se la lista dei departments è vuota non stampi la tabella -->
  <div th:if="${#lists.isEmpty(Degrees)}">
	  	<h1>Lista non disponibile, riprovare più tardi</h1>
	  </div>
  <div class="container">
    <h1>Ciao ecco i dipartimenti delle nostre università</h1>
    <!-- creazione tabella -->
	<table class="table my-3">
	          <thead>
	            <tr>
	              <th>Nome</th>
	              <th>livello</th>
	              <th>indirizzo</th>
	              <th>Indirizzo mail</th>
	              <th>Sito web</th>
	              </tr>
	          </thead>
	          <tbody>
	            <tr class="align-middle" th:each="dep : ${Degrees}">
	              <td th:text="${dep.name}"></td>
	              <td th:text="${dep.level}"></td>
	              <td th:text="${dep.address}"></td>
	              <td th:text="${dep.email}"></td>
	              <td th:text="${dep.website}"></td>
	              </tr>
	          </tbody>
	        </table>
  </div>
  </body>
</html>