<!doctype html>
<html lang="en">
  <head>
   <!-- riferimento th block collegamento ai meta etc -->
    <th:block th:replace="fragments :: scr-head"></th:block>
    <title>Dettagli insegnanti</title>
  </head>
  <body>
  <!-- riferimento al thblock collegamento alla nav bar in fragments -->
  <th:block th:replace="fragments :: navbar"></th:block>
  
  <div class="container">
    <h1 th:text="${teachers.getName()}"></h1>
    <!-- creazione tabella -->
	<table class="table my-3">
	          <thead>
	            <tr>
	              <th>Nome</th>
	              <th>descrizione</th>
	              <th>periodo</th>
	              <th>anno</th>
	              <th>cfu</th>
	              <th>Sito web</th>
	             </tr>
	          </thead>
	          <tbody>
	            <tr class="align-middle" th:each="dep : ${teachers.getCourses()}">
	              <td th:text="${dep.name}"></td>
	              <td th:text="${dep.description}"></td>
	              <td th:text="${dep.period}"></td>
	              <td th:text="${dep.year}"></td>
	              <td th:text="${dep.cfu}"></td>
	              <td th:text="${dep.website}"></td>
	              </tr>
	          </tbody>
	        </table>
  </div>
  </body>
</html>