<!doctype html>
<html lang="en">
  <head>
   <!-- riferimento th block collegamento ai meta etc -->
    <th:block th:replace="fragments :: scr-head"></th:block>
    <title>Dettagli insegnanti</title>
  </head>
  <body>
  <!-- riferimento al thblock collegamento alla nav bar in fragments -->
  <th:block th:replace="fragments :: navbar"></th:block>
  <!-- th if se la lista dei departments è vuota non stampi la tabella -->
  <div th:if="${#lists.isEmpty(Degrees)}">
	  	<h1>Lista non disponibile, riprovare più tardi</h1>
	  </div>
  <div class="container">
    <h1>Ciao ecco i dipartimenti delle nostre università</h1>
    <!-- creazione tabella -->
	<table class="table my-3">
	          <thead>
	            <tr>
	              <th>Nome</th>
	              <th>Cognome</th>
	              <th>Telefono</th>
	              <th>email</th>
	              <th>indirizzoUffico</th>
	              <th>numeroUfficio</th>
	             </tr>
	          </thead>
	          <tbody>
	            <tr class="align-middle" th:each="dep : ${Teacherslist}">
	              <td>
	              <a th:href = "@{|/teachers/${dep.id}|}" th:text="${dep.name}" ></a>
	              </td>
	              <td th:text="${dep.surname}"></td>
	              <td th:text="${dep.phone}"></td>
	              <td th:text="${dep.email}"></td>
	              <td th:text="${dep.officeAddress}"></td>
	              <td th:text="${dep.officeNumber}"></td>
	              </tr>
	          </tbody>
	        </table>
  </div>
  </body>
</html>